{% if ACTION is not defined or ACTION not in ['push','remove'] %}
 {{_|mandatory("ACTION is mandatoy - push or remove")}}
{% elif ACTION == "remove" %}
!
interface range {% for interface in netlab_interfaces if interface.type != 'loopback' -%}
{{ interface.ifname + " , " if not loop.last else interface.ifname }}{% endfor %}  
  no ip flow monitor KENTIK sampler KENTIK input
 !
!
no sampler KENTIK
no flow monitor KENTIK
no flow exporter KENTIK
no flow record KENTIK
!
{% elif ACTION == "push" %}
!
flow record KENTIK
 match routing vrf input
 match ipv4 tos
 match ipv4 protocol
 match ipv4 source address
 match ipv4 destination address
 match transport source-port
 match transport destination-port
 match interface input
 collect routing source as
 collect routing destination as
 collect routing next-hop address ipv4
 collect transport tcp flags
 collect interface output
 collect counter bytes
 collect counter packets
 collect timestamp sys-uptime first
 collect timestamp sys-uptime last
!
flow exporter KENTIK
 destination {{ hostvars['kproxy']['mgmt']['ipv4'] }} vrf clab-mgmt
 source Ethernet0/0
 transport udp 9995
 export-protocol netflow-v9
 template data timeout 60
 option interface-table
 option vrf-table
 option sampler-table
!
flow monitor KENTIK
 exporter KENTIK
 statistics packet protocol
 statistics packet size
 record KENTIK
!
sampler KENTIK
 mode random 1 out-of {{ KENTIK_SAMPLE_RATE }}
!
interface range {% for interface in netlab_interfaces if interface.type != 'loopback' -%}
{{ interface.ifname + " , " if not loop.last else interface.ifname }}{% endfor %}  
  ip flow monitor KENTIK sampler KENTIK input
!
{% endif %}
